:root{
    --color-acento: rgb(124, 20, 16);
    --color-link: red;
    --color-text: rgb(26, 23, 56);
    --color-acento-claro: rgb(18, 18, 236);
}
html{
    font-family: 'Lucida Sans', 'Lucida Grande';
}
a{
    text-decoration: none;
    color: var(--color-text);
}
a:hover:not(carrito:hover){
    color: var(--color-acento);
    font-weight: bold;
}
header nav{
    display: flex; /* Nodo al lado del otro */
    justify-content: space-between;
    margin: 0 30px;
}
header nav div{
    display: flex; /* Nodo al lado del otro */
    align-items: center;
    gap: 30px;/*  Separa iconos NAV */
    position: relative; /* Relatico al numerode items del carrito (numero-carrito) */
}
#numero-carrito{
    background-color: var(--color-link);
    border-radius: 100%; /* Redondea el fondo */
    display:inline-block;
    width: 20px;
    line-height: 20px;
    aspect-ratio: 1;
    text-align: center;
    position: absolute;
    top:30%; /* Sube o baja en numero del carrito */
    right: 26%; /* acomoda numero a la derecha del carrito */
    transform: translate(-50%, -50%);
    z-index: 1; /* Hace que el texto este encima de la imagen del carrito */
}
#logoHeader{
    height: 50px;
}
header nav img{
    height: 40px;
}