* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #a6d6ef;
    margin: 0;
    background-color: #0f4c75;
}


/**
MENU
*/

 .formcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
} 

#contenido {
    max-width: 320px;
    width: 100%;
} 

#btnform{
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/  
}

/* FORMATO LOGIN  */
.formlogin {
    font-size: 200%;
    color:#bbe1fa;
    text-align: center;
    margin-bottom: 20px;
}

#formlogin {
    width: 100%;
    padding: 50px 30px;
    background-color: #3282b8;    
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px ;
    
    box-sizing: border-box;
}
#formregistro {
    width: 100%;
    padding: 50px 30px;
    background-color: #3282b8;    
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px ;
    
    box-sizing: border-box;
}


#formlogin input {
    font-family: sans-serif;
    font-size: 110%;
    color: #1b262c;
    
    display: block;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

/* #formlogin input::placeholder {
    font-family: sans-serif;
    color: #E4E4E4;
} */

#formlogin button {
    font-family: sans-serif;
    font-size: 110%;
    color:#1b262c;
    width: 100%;
    height: 40px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #bbe1fa;
    
    margin-top: 10px;
}

#formlogin button:hover {
    background-color: #0f4c75;
    color:#bbe1fa;
}

/* FORMATO REGISTRO */
.formregistro {
    font-size: 200%;
    color:#bbe1fa;
    text-align: center;
    margin-bottom: 20px;
}

#formregistro {
    width: 100%;
    padding: 50px 30px;
    background-color: #053a5e;    
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px ;
    
    box-sizing: border-box;
}


#formregistro input {
    font-family: sans-serif;
    font-size: 110%;
    color: #1b262c;
    
    display: block;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

/* #formlogin input::placeholder {
    font-family: sans-serif;
    color: #E4E4E4;
} */

/* #formregistro button {
    font-family: sans-serif;
    font-size: 110%;
    color:#1b262c;
    width: 100%;
    height: 40px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #bbe1fa;
    
    margin-top: 10px;
} */

#formregistro button:hover {
    background-color: #0f4c75;
    color:#bbe1fa;
}
#formregistro button:hover {
    background-color: #0f4c75;
    color:#bbe1fa;
}




/*  */

.btnLogin, .btnRegistro {
    /* border: 5px solid #eeeff1; /*anchura, estilo y color borde*/ 
    /* padding: 10px; /*espacio alrededor texto*/ 
    /* background-color: #2e518b; /*color botón*/ 
    /* color: #ffffff; /*color texto*/ 
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    /* border-radius: 50px; /*bordes redondos */
    }

