<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilosGeneral.css" type="text/css">
    <!-- <script async src="./registro.js"></script> -->
    <title>PRINCIPAL</title>
</head>

<body>
    <header id="header">
        <div class="logo"> 
            <img src="../assets/img/logoHarduer.png" alt="Si no lo tenemos, no existe">
            <h2 class="nombreempresa">Harduare</h2>
        </div>
        <nav>
            <a href="" class="nav-link">Inicio</a>
            <a href="" class="nav-link">Informacion</a>
            <a href="" class="nav-link cart" ><img class="imglogo" src="../assets/icons/carrito-de-compras.png" alt="Carrito"/></a>
        </nav>
    </header>
        <div id="contenedor">
            <div id="central">
                <div id="login">
                    <div class="titulo">
                        Carrito Compras<BR> (DATOS DESDE BASE DE DATOS)
                <div class="inferior">
                    <a href="./index.html">Inicio</a>
                </div>
            </div>
        </div>

<script src="../js/jquery-3.1.1.min.js"></script>    
<script src="../js/main.js"></script>
</body>
</html>