<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/estilosCarrito.css">
    <script src="../../js/cart.js"></script>
    <title>CARRITO DE COMPRAS</title>
</head>
<body>
    <header><div id="header"><nav>
        <div id="logoHeader"> <img src="../../img/logo.jpg" alt="Logo"></div>
        <div>
            <a href="#"><img src="../../img/busqueda.png" alt="Buscar"></a>
            <a href="#" id="carrito"><img src="../../img/carrito-de-compras.png" alt="Carrito"><span id="numero-carrito">0</span></a>
            <a href="#"><img src="../../img/cerrar-sesion_red.png" alt="LOGOUT"></a>
        </div>
    </nav></div></header>
    <main>
        <a href="#">Main</a>
    </main>
</body>
</html>