<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/estilosCarrito.css">
    <script defer src="../../js/cartList.js"></script>
    <!-- <script defer src="../../js/cart.js"></script> -->
    <title>CARRITO DE COMPRAS</title>
<body>
    <header>    
        <div id="header">
            <nav>
                <div id="logoHeader"> <img src="../../img/logo.jpg" alt="Logo">
                    <a href="#"><img src="../../img/Configure002.png" alt="Modificaciones"></a>
                </div>
                <div>
                    <a href="#"><img src="../../img/busqueda.png" alt="Buscar"></a>
                    <a href="./carrito.html" id="carrito"><img src="../../img/carrito-de-compras.png" alt="Carrito"><span id="numero-carrito">0</span></a>
                    <a href="../../index.html"><img src="../../img/cerrar-sesion red.png" alt="LOGOUT"></a>
                </div>
            </nav>
        </div>
    </header> 
    <main>
        <h1>COMPRAS REALIZADAS</h1>
        <div class="tablediv">
            <TABLE class="producto-tabla">
                <Thead>
                <Tr>
                    <TH> PRODUCTO </TH>
                    <TH> PRECIO </Th>
                    <Th> CANTIDAD </Th>
                    <Th> TOTAL </Th>
                </Tr>
            </Thead>
            <tbody id="carrito-items"></tbody>           
            </TABLE><BR>
            
                
            <table class="producto-tabla">
                <Thead>
                    <Tr>
                        <TH> SUBTOTAL </TH>
                        <TH> IVA </Th>
                        <Th>   </Th>
                        <Th> TOTAL </Th>
                    </Tr>
                </Thead>
                <tbody id="carrito-values"></tbody> 
            
            </table>    
            <DIV class="button-buy">
            <button class="btn002" onclick="comprarCarrito()"> COMPRAR </button></DIV>
        </div>
        
    </main>
</body>
</html>