<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/estilosCarrito.css">
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script defer src="../../js/cart.js"></script>
    
<!--     <script defer src="../../js/cartService.js"></script> -->
    <title>CARRITO DE COMPRAS</title>
</head>
<body>
    <header><div id="header"><nav>
        <div id="logoHeader"> <img src="../../img/logo.jpg" alt="Logo">
            <a href="#"><img src="../../img/Configure002.png" alt="Modificaciones"></a></div>
        <div>
            <a href="#"><img src="../../img/busqueda.png" alt="Buscar"></a>
            <a href="./ComprasCarrito.html" id="carrito"><img src="../../img/carrito-de-compras.png" alt="Carrito"><span id="numero-carrito">0</span></a>
            <a href="../../index.html"><img src="../../img/cerrar-sesion red.png" alt="LOGOUT"></a>
            
        </div>
    </nav></div></header>
    <main>
        <section id="item-producto"></section>
    </main>

    <footer>
        <!-- <div id="carrito-items"></div> -->
    </footer>
</body>
</html>